artifacts/**
build/**
**/.vs/**
.build_script/**
node_modules/**
**/Temp/**/*
**/obj/**/*
**/Library/**/*
**/TestProjects/Public/Logs/**
**/TestProjects/PerceptionTest/utr
**/TestProjects/PerceptionTest/Build
**/*Results/**
**/Logs/**
**/.vscode/**
**/.idea/**
.DS_Store
.npmrc
!Documentation~
!.Documentation
!Samples~
npm-debug.log
build.sh.meta
build.bat.meta
.idea/
.Editor/*
upm-ci~/*

*.csproj
*.sln

*.lib*
*.pdb*
**/.Editor
**/upm-ci~
**/.bin
CodeCoverage
/.download
**/Build/**
**/Builds/**
/utr
*.user
