.menu-element {
    padding: 2px 10px 2px 20px;
}

.chevron-right {
    height: 12px;
    width: 12px;
    background-image: resource("Packages/com.unity.perception/Editor/Randomization/Icons/FoldoutClosed.png");
}

.menu-element:hover {
    background-color: #3E5F96;
}
