.sampler-type-menu {
    flex-grow: 1.5;
    border-radius: 3px;
    border-width: 1px;
    margin-top: 2px;
    margin-right: 3px;
}

.sampler-name {
    /*color: lightgreen;*/
}

.float-range .unity-base-field__label {
    min-width: auto;
    margin-right: 4px;
}
