.dark-viewport {
    border-radius: 5px;
    background-color: #191919;
    padding: 2px;
}

.info-box {
    border-width: 1px;
    border-color: #191919;
    padding: 2px 4px 2px 4px;
    white-space: normal;
    margin-top: 4px;
    margin-bottom: 4px;
}

.drag-bar {
    width: 100px;
    height: 6px;
    background-color: rgba(100,149,237,0.4);
    position: absolute;
}
