name: Publish to pypi

on:
  release:
    types: [published]

env:
  PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}

jobs:

  build-and-publish:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Get full Python version
        id: full-python-version
        shell: bash
        run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")
      - name: Install poetry
        shell: bash
        run: |
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name : Configure poetry
        shell: bash
        run: poetry config pypi-token.pypi $PYPI_TOKEN
      - name: Set poetry version
        shell: bash
        run: poetry version $RELEASE_VERSION
      - name: build
        shell: bash
        run: poetry build
      - name: publish
        shell: bash
        run: poetry publish
